<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-button class="btn-back" fill="outline" (click)="back()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
        </ion-col>
        <ion-col padding-vertical text-center size="10">
          <ion-title>Assistances</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- List of Input Items -->
    <ion-list>

      <ion-item>
        <ion-label pull-left>
          Écrire le service client
        </ion-label>
        <ion-button pull-right fill="outline" class="btn-assist">
          <ion-icon name="chatbubbles" ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label pull-left>
          Appeler le service client
        </ion-label>
        <ion-button pull-right fill="outline" class="btn-assist">
          <ion-icon name="call" ios="ios-call" md="md-call"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label pull-left>
          Changer mon mot de passe
        </ion-label>
        <ion-button pull-right fill="outline" class="btn-assist">
          <ion-icon name="key" ios="ios-key" md="md-key"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label pull-left>
          Désactiver ma carte
        </ion-label>
        <ion-button pull-right fill="outline" class="btn-assist">
          <ion-icon color="danger" name="power" ios="ios-power" md="md-power"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
  </ion-grid>
</ion-content>
