ion-toolbar {
  --background: #0d8884;
  --color: #ffffff;
}

.btn-assist {
  --border-color: transparent;
  --color: #0d8884;
}

.btn-back {
  --border-color: transparent;
  --color: #ffffff;
}

.btn-assist ion-icon {
    font-size: 2em;
}

.verte {
  --color: #0d8884;
}

.rouge {
  --color: red;
}
