<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Assistances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- List of Input Items -->
    <ion-list>
      <ion-item>
        <ion-label pull-left>
          Écrire le service client
        </ion-label>
        <ion-button pull-right fill="outline" class="btn-assist">
          <ion-icon name="chatbubbles" ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label pull-left>
          Appeler le service client
        </ion-label>
        <ion-button pull-right fill="outline" class="btn-assist">
          <ion-icon name="call" ios="ios-call" md="md-call"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label pull-left>
          Changer mon mot de passe
        </ion-label>
        <ion-button pull-right fill="outline" class="btn-assist">
          <ion-icon name="key" ios="ios-key" md="md-key"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label pull-left>
          Désactiver ma carte
        </ion-label>
        <ion-button pull-right fill="outline" class="btn-assist">
          <ion-icon color="danger" name="power" ios="ios-power" md="md-power"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
  </ion-grid>
</ion-content>
