<ion-content padding>
  <ion-grid>
  	<ion-row justify-content-center>
  		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center style="margin-top: -30px; padding-bottom: 10px;">
          <ion-img src="assets/icon/logo_nopale.png"></ion-img>
          <ion-label style="font-size: 0.9rem; font-weight: bold;">Votre paiement digital sans contact quotidien dans les campus universitaires</ion-label>
  			</div>
  			<div padding>
          <!-- Inputs with labels -->
          <ion-item>
            <ion-label class="blanc"><ion-icon name="call"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Téléphone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="blanc"><ion-icon name="lock"></ion-icon></ion-label>
            <ion-input type="password" placeholder="Mot de passe"></ion-input>
          </ion-item>
  			</div>
        <div text-right>
          <ion-button fill="outline" class="btn-resetpwd" (click)="createAccount()">Mot de passe oublié ?</ion-button>
  			</div>
  			<div padding text-center>
  				<ion-button fill="outline" size="md" class="btn-login" (click)="login()" expand="round">Se connecter</ion-button>
  			</div>
  		</ion-col>
  	</ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button float-right fill="outline" size="md" class="btn-register" (click)="createAccount()" expand="round">S'inscrire <ion-icon style="font-size: 1.6em;" name="arrow-dropright"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
