.title-periode {
  font-size: 1em;
  background-color: #eeeeee;
  color: #666666;
  font-weight: 600;
  padding: 1em 0.5em;
}

.icon-serv {
  width: 3em;
  height: 3em;
}

.libelles-serv {
  position: relative;
  left: 3rem;
  bottom: 1.5rem;
}

.num-trans {
  font-weight: bold;
  color: #f04141;
}

.type-serv {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #666666;
}

.orange{
  color: #ffa500 !important;
}

.marron {
  color: #C4B37A !important;
}

.green {
  color: #10dc60 !important;
}
