<ion-tabs>
  <ion-header>
    <ion-toolbar>
      <ion-grid style="padding: 0;">
        <ion-row color="primary">
          <ion-col align-self-start style="padding: 0;" size="4">
            <img style="width:10vw;" src="assets/icon/flag-400.png">
          </ion-col>
          <ion-col align-self-center size="4">
            <span class="logo_nopale">NOPALÈ</span>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid style="padding: 0;">
        <ion-row id="infos-user">
          <ion-col  id="photo" align-self-center size="2">
            <ion-content>
              <img id="img" [src]="currentImage" *ngIf="currentImage">

              <ion-fab vertical="bottom" horizontal="left" slot="fixed">
                <ion-fab-button (click)="takePicture()">
                  <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-content>
          </ion-col>
          <ion-col align-self-left size="10">
            <ion-title id="user-name" padding>
              Abdoulaye Faye
            </ion-title>
            <span padding id="user-solde">SOLDE: 73 970 FCFA</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
