<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center class="nos-services" size="6">
        <ion-button fill="outline" class="service-card" (click)="goToPage('/recharge')">
          <ion-grid>
            <ion-row>
              <ion-col text-center size="12">
                <ion-img src="assets/icon/services/1.png"></ion-img>
              </ion-col>
              <ion-col text-center size="12">
                <ion-label>RECHARGE</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
      <ion-col text-center class="nos-services" size="6">
        <ion-button fill="outline" class="service-card" (click)="goToPage('/payer')">
          <ion-grid>
            <ion-row>
              <ion-col text-center size="12">
                <ion-img src="assets/icon/services/2.png"></ion-img>
              </ion-col>
              <ion-col text-center size="12">
                <ion-label>PAYER</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
      <ion-col text-center class="nos-services" size="6">
        <ion-button fill="outline" class="service-card" (click)="goToPage('/abonnement')">
          <ion-grid>
            <ion-row>
              <ion-col text-center size="12">
                <ion-img src="assets/icon/services/5.png"></ion-img>
              </ion-col>
              <ion-col text-center size="12">
                <ion-label>ABONNENEMENT</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
      <ion-col text-center class="nos-services" size="6">
        <ion-button fill="outline" class="service-card" (click)="goToPage('/menu/tabs/tab2')">
          <ion-grid>
            <ion-row>
              <ion-col text-center size="12">
                <ion-img src="assets/icon/services/6.png"></ion-img>
              </ion-col>
              <ion-col text-center size="12">
                <ion-label>HISTORIQUE</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
      <ion-col text-center class="nos-services" size="12">
        <ion-button fill="outline" class="service-card" (click)="goToPage('/assistances')">
          <ion-grid>
            <ion-row>
              <ion-col text-center size="12">
                <ion-img src="assets/icon/services/8.png"></ion-img>
              </ion-col>
              <ion-col text-center size="12">
                <ion-label>ASSISTANCE</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
