.nos-services {
  max-height: 21vh;
  height: 21vh;
  border: 1px solid #0d8884;
}

.nos-services .service-card {
  text-align: center;
  height: 100%;
  margin: auto;
  --border-color: transparent;
  --color: #222222;
}

.service-card ion-grid ion-row ion-col ion-img {
  width: 5em;
  height: 5em;
  margin: auto;
}

.service-card ion-grid ion-row ion-col ion-label {
  font-weight: bold;
  font-size: 0.9em;
}
