<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="nos-services" size="6">
        <div class="service-card" (click)="goToPage('recharge')">
          <img src="assets/icon/services/1.jpg">
          <ion-title>
            RECHARGE
          </ion-title>
        </div>
      </ion-col>
      <ion-col class="nos-services" size="6">
        <div class="service-card" (click)="goToPage('payer')">
          <img src="assets/icon/services/2.jpg">
          <ion-title>
            PAYER
          </ion-title>
        </div>
      </ion-col>
      <ion-col class="nos-services" size="6">
        <div class="service-card" (click)="goToPage('abonnement')">
          <img src="assets/icon/services/5.jpg">
          <ion-title>
            ABONNENEMENT
          </ion-title>
        </div>
      </ion-col>
      <ion-col class="nos-services" size="6">
        <div class="service-card" (click)="goToPage('/tabs/tab2')">
          <img src="assets/icon/services/6.jpg">
          <ion-title>
            HISTORIQUE
          </ion-title>
        </div>
      </ion-col>
      <ion-col class="nos-services" size="12">
        <div class="service-card" (click)="goToPage('assistance')">
          <img src="assets/icon/services/8.png">
          <ion-title>
            ASSISTANCE
          </ion-title>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
