<ion-content padding>
  <ion-grid>
  	<ion-row justify-content-center>
  		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center style="position: relative; bottom: 4em;">
          <ion-img src="assets/icon/logo_nopale.png"></ion-img>
          <ion-label style="font-size: 0.9rem; font-weight: bold;">Votre paiement digital sans contact quotidien dans les campus universitaires</ion-label>
  			</div>
  			<div padding text-center style="margin-bottom: 6em;">
  				<ion-button fill="outline" size="md" class="btn-login" (click)="login()" expand="round">Se connecter / S'inscrire</ion-button>
  			</div>
  		</ion-col>
  	</ion-row>
  </ion-grid>
</ion-content>
