<ion-content>
  <ion-grid>
    <!-- List of Input Items -->
    <ion-list>
      <ion-item (click)="goToPage('profil')">
        <ion-label>
          Mon Profil
        </ion-label>
      </ion-item>

      <ion-item (click)="goToPage('/active-carte')">
        <ion-label>
         Activer ma carte
        </ion-label>
      </ion-item>

      <ion-item (click)="goToPage('/assistances')">
        <ion-label>
          Assistances
        </ion-label>
      </ion-item>

      <ion-item (click)="goToPage('certificat')">
        <ion-label>
          Mentions légales
        </ion-label>
      </ion-item>

      <ion-item (click)="goToPage('logout')">
        <ion-label color="danger">
          Déconnexion
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-grid>
</ion-content>
